<div class="container">
  <div class="row">
    <div class="col s6 m6  l6 xl6 m7">
      <h2 class="header">Horizontal Card</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823_960_720.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

    </div>
    <div class="col s6 m6  l6 xl6 m7">
      <h2 class="header">Horizontal Card</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://cdn.pixabay.com/photo/2019/12/30/20/34/snow-4730553_960_720.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
